In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pl
from saveload import saveload as sl
from os import path

In [97]:
fRead = "../Model/PointScale/BASINAVG1/Basin_average_water_balance.csv"
WB = pd.read_csv(fRead, skipinitialspace=True)
WB = WB.drop(columns="Unnamed: 36")
WB

,YEAR,DAY,PREACC,EVAPACC,ROFACC,ROFOACC,ROFSACC,ROFBACC,DSTGACC,PRE,...,LQWS3,FRWS3,ALWS3,LQWS,FRWS,ALWS,LZS,DZS,STG,DSTG
0,1997,274,0.000,0.225324,0.103875,0.000000,0.0,0.103875,-0.171448,0.00000,...,416.0879,0.0,416.0879,439.3024,21.81352,461.1159,0.0,0.0,488.8096,-0.171448
1,1997,275,0.000,0.755882,0.206738,0.000000,0.0,0.206738,-0.380096,0.00000,...,415.7219,0.0,415.7219,448.1098,19.02963,467.1394,0.0,0.0,488.3919,-0.417694
2,1997,276,0.000,1.211953,0.308595,0.000000,0.0,0.308595,-0.646423,0.00000,...,415.3529,0.0,415.3529,458.3126,13.91337,472.2260,0.0,0.0,487.8018,-0.590027
3,1997,277,0.000,1.736339,0.409756,0.000000,0.0,0.409756,-0.931427,0.00000,...,415.1239,0.0,415.1239,462.1057,11.39617,473.5019,0.0,0.0,487.1946,-0.607269
4,1997,278,0.000,1.940733,0.510570,0.000000,0.0,0.510570,-1.199188,0.00000,...,415.0479,0.0,415.0479,462.7368,11.27829,474.0151,0.0,0.0,486.7103,-0.484253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1091,2000,270,1322.370,1142.531000,194.577400,7.582004,0.0,186.995700,26.660520,0.00000,...,412.6287,0.0,412.6287,474.7245,0.00000,474.7245,0.0,0.0,474.7255,-0.526856
1092,2000,271,1401.983,1143.901000,194.689400,7.582004,0.0,187.107700,26.636110,79.61221,...,414.8733,0.0,414.8733,488.6677,0.00000,488.6677,0.0,0.0,488.8665,14.141050
1093,2000,272,1405.370,1145.164000,194.921900,7.582089,0.0,187.340100,26.671880,3.38775,...,447.5326,0.0,447.5326,554.7542,0.00000,554.7542,0.0,0.0,554.9946,66.128020
1094,2000,273,1405.370,1146.168000,195.300800,7.582089,0.0,187.719000,26.706300,0.00000,...,472.3347,0.0,472.3347,553.6219,0.00000,553.6219,0.0,0.0,553.6251,-1.369507
1095,2000,274,1405.370,1146.812000,195.739000,7.582089,0.0,188.157200,26.738770,0.00000,...,479.6391,0.0,479.6391,552.3563,0.00000,552.3563,0.0,0.0,552.3562,-1.268860

In [98]:
WB.columns

Index(['YEAR', 'DAY', 'PREACC', 'EVAPACC', 'ROFACC', 'ROFOACC', 'ROFSACC',
       'ROFBACC', 'DSTGACC', 'PRE', 'EVAP', 'ROF', 'ROFO', 'ROFS', 'ROFB',
       'SNCAN', 'RCAN', 'SNO', 'WSNO', 'PNDW', 'LQWS1', 'FRWS1', 'ALWS1',
       'LQWS2', 'FRWS2', 'ALWS2', 'LQWS3', 'FRWS3', 'ALWS3', 'LQWS', 'FRWS',
       'ALWS', 'LZS', 'DZS', 'STG', 'DSTG'],
      dtype='object')

In [95]:
# Plot total water balance
# P_tot = WB['PREACC'].
# df['date'][df.index[-1]]
WB['PREACC'][WB.index[-1]]
# WB['PRE']
# P_tot

1405.37

In [ ]:
# Create a table of totals for each variable (precip, evaporation, runoff (overland, interflow, and baseflow), 
# and change in storage)